.text-normal {
    -fx-font-size: 13px;
    -fx-font-family: "Avenir Book";
}

.text-small {
    -fx-font-size: 11px;
    -fx-font-family: "Avenir Book";
}

.text-large {
    -fx-font-size: 15px;
    -fx-font-family: "Avenir Book";
}
.logo {

}

.logo-twirl {

}